@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800|Open+Sans:300,300i,400,400i,600,600i,700,700i&display=swap&subset=vietnamese');

/* font-family: 'Dosis', sans-serif;
font-family: 'Open Sans', sans-serif; */

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-main);
    font-family: 'Open Sans', sans-serif;
}
:root{
    --bg-main: #f5f5f5;
    --main-colorFont: #212121;
    --second-colorFont:#555;
    --pink-color: #e65959;
    --main-white: #fff;
}
/* COMMON CLASSES */
.pad{
    padding: 0 2rem;
}
.title,.small-title{
    padding: 1.5rem 0;
    font-family: 'Dosis', sans-serif ;
    font-size: 2rem;
    text-transform: uppercase;
    border-bottom: 1px solid #ededed;
    position: relative;
}
.title::before,.small-title::before{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 15%;
    border-bottom: 1px solid var(--pink-color);
}
.small-title{
    padding: 1rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    display: inline-block;
}
.small-title::before{
    width: 30%;
}
p{
    font-size: .9rem;
    color: #505050;
    text-align: justify;
    letter-spacing: .5px;
    line-height: 2rem;
    margin-top: 1rem;
    font-weight: 300;
}


a:hover{
    text-decoration: none;
}
li{list-style: none;}
ul{padding: 0; margin: 0;}
img{width: 100%;}
/* Toggle Icon */
.toggle-ico{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: var(--main-white);
    border: 1px solid #212121;
    position: fixed;
    top: 14%;
    right: 15%;
    z-index: 1000;
    cursor: pointer;
    display: none;
}
.main-content-page{
    padding: 40px 0;
    height: 100vh;
}
.main-content{
    height: 100%;
    background: var(--main-white);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    display: flex;
    /* grid-template-columns: 1fr 10fr; */
}

/* SIDE_BAR */
.side-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 30px 0;
    border-right: 1px solid #ededed;
    flex: 10%;
}
.side-bar > nav ul li{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background: var(--bg-main);
    margin: 15px 0;
    cursor: pointer;
    transition: .4s all;
}
.side-bar >  nav ul li i{
    color:var(--second-colorFont);
    font-size: .9rem;
    transition: .4s all;
}
.side-bar > nav ul li:hover,.side-bar ul li.active{
    background: var(--pink-color);
}
.side-bar > nav ul li:hover i,.side-bar ul li.active i{
    color: var(--main-white);
}
.social ul li{
    text-align: center;
    margin: 15px 0;
    transition: .4s ;
    cursor: pointer;
}
.social ul li a{
    color: var(--second-colorFont);
    font-size: .9rem;
}
.social ul li:hover a{
    color: var(--main-colorFont);
}


/* RIGHT_AREA */
.right-area{
    height: 100%;
    width: 100%;
    position: relative;
    overflow-y: hidden;
    flex: 90%;
}
/* INTRO SECTION */
.intro{
    background: var(--bg-main);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    overflow: hidden;
}
.intro h2{
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 2rem;
}
 .intro h4{
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: .5rem; 
}
.intro h4 span{
    background: var(--pink-color);
    color:var(--main-white);
    padding: .3rem;
}
/* ------END INTRO SECTION ----------*/
/* ABOUT SECTION */
.about{
    transition: .3s;
    overflow: scroll;
}
.tab-content{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    opacity: 0;
    visibility: hidden;
}
.tab-content.active{
    opacity: 1;
    visibility: visible;
 }
.about > .row{
    padding: 1.5rem 0;
}
.about-left{
    text-align: center;
}
.about-left img{
    width: 320px;
    height: 320px;
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);

}
.about-left .info{
    text-align: left;
    margin: 2rem 0;
}
.about-left ul li{
    width: 100%;
    display: inline-block;
}
.i-title{
    text-transform: capitalize;
    display: inline-block;
    font-size: .9rem;
    color: var(--main-colorFont);
    min-width: 20%;
    font-weight: 500;
    margin-bottom: 1rem;
}
.value{
    font-size: .9rem;
    color: var(--second-colorFont);
    font-weight: 300;
}
.about-right .skills{
    padding: 2rem 0;
}
.about-right .skills ul{
    padding: 1.5rem 0;
}
.about-right .skills ul li >span{
    font-family:'Dosis', sans-serif;
    font-size: .9rem;
}
.progress{
    background: none;
    position: relative;
    height: 2rem;
    width: 100%;
    padding: 1rem 0;
}
.progress:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    width: 100%;
    background: #ededed;
}

.progress-bar{
    position: absolute;
    top: 50%;
    left: 0;
    background: #212121;
    height: 1px;
    /* width: 80%;    */
}
.percent{
    position: absolute;
    top:50%;
    /* left: 80%; */
    transform: translate(-50%, -50%);
    padding: .2rem;
    border: 1px solid var(--main-colorFont);
    background: var(--main-white);
} 

/* about-service */
.service-box{
    border: 1px solid #ededed;
    padding: 2rem;
    transition: .4s all;
    margin: 15px 0;
}
.service-box .service-icon{
    width: 60px;
    height:  60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    border:1px solid #ededed;
    transition: .4s all;
}
.service-box .service-icon i{
    font-size: 1.5rem;
}
.service-box h3{
    padding-top: 1rem;
    font-family: 'Dosis', sans-serif ;
    font-size: 1.2rem;
    text-transform: capitalize;
}
.service-box:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}
.service-box:hover  .service-icon{
    background: var(--pink-color);
}
.service-box:hover  .service-icon {
    color: var(--main-white);
}
/* end about-service */
/* ------END ABOUT SECTION ----------*/
/* resume */
.resume{
    overflow: scroll;
    transition: .3s;
}
.work-flow{
    position: relative;
    border-left: 3px solid #ededed;
    margin: 2rem 0;
    padding: 2rem 0;
}
.work-flow .icon{
    position: absolute;
    top: -3%;
    left: 0%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background: var(--pink-color);
    color: var(--main-white);
}
.work-flow .work-item{
    padding: 1rem 3rem;
}
.work-flow .work-item h5{
    font-size: 1rem;
    font-family: 'Dosis', sans-serif;
    position: relative;
}
.work-flow .work-item h5::before{
    content: "";
    position: absolute;
    top: 4px;
    left: -53px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #212121;
}
.work-flow .work-item .date{
    font-size: .7rem;
    font-family: 'Dosis', sans-serif;
}
.qoute{
    position: relative;
}
.qoute::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .4);
    z-index: 4;
}
.qoute img{
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 350px;
}
.qoute .qoute-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--second-colorFont);
    font-family: 'Dosis', sans-serif;
    text-align: center;
    z-index: 5;
    
}
.qoute .qoute-content > .fas{
    position: absolute;
    top: 0%;
    left: -30px;
    font-size: .8rem;
}
.qoute .qoute-content h3{
    font-size: 1.3rem;   
}
.qoute .qoute-content .author{
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .5rem;
    color: var(--second-colorFont);
}
/* ------END RESUME SECTION ----------*/
/* Fortfolio section */
.fortfolio{
    width: 100%;
    overflow: scroll;
    transition: .3s;
}
.fortfolio .category{
    display: flex;
    justify-content: center; 
    padding: 1.5rem 0;
}
.fortfolio .category li{
    margin: 0 1.5rem;
    transition: .4s all;
}
.fortfolio .category li a{
    text-transform: uppercase;
    font-size: 1rem;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: var(--main-colorFont);
}
.fortfolio .category li a:hover,
.fortfolio .category li a.active{
    border-bottom: 1px solid var(--pink-color);
}
.fortfolio-content{
    padding: 1rem 0;
}
.fortfolio-content .box{
    padding: 1rem;
}
.fortfolio-content .work{
    width: 100%;
    cursor: pointer;
    position: relative;
}
.fortfolio-content .work img{
    widows: 100%;
    height: 100%;
}
.fortfolio-content .work .work-desc{
    position: absolute;
    bottom: 10%;
    left: 10%;
    color: var(--main-white);
    opacity: 0;
    visibility: hidden;
    transition: .4s all;
}
.fortfolio-content .work > h3,
.fortfolio-content h3{
    text-transform: uppercase;
    font-size: 1rem;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
}
.fortfolio-content .work  h5{
    font-size: 1rem;
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    border-left: 1px solid var(--main-white);
    padding-left: .5rem;
}
.fortfolio-content .work::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    transition: .4s all;
    opacity: 0;
    visibility: hidden;
}
.fortfolio-content .work:hover .work-desc,
.fortfolio-content .work:hover::before{
    opacity: 1;
    visibility: visible;
}
.bg-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    z-index: 3;
    display: none;
}
.bg-modal.active{
    display: block;
}
.modal-work{
    position: absolute;
    background: var(--main-white);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* display: none; */
    cursor: initial;
    z-index: 5;
}

.modal-work img{
    width: 100%;
    max-height: 550px;
    position: relative;
}
.close-ico{
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 1.5rem;
    color: var(--main-white);
    cursor: pointer;
    z-index: 10;
}
.fortfolio-content{
    text-align: center;
    padding: 1.5rem;
}
/* end Fortfolio section */
/* Blog section */
.blog{
    overflow: scroll;
    transition: .3s;
}
.blog-post{
    padding: 1rem 0;
}
.blog-img{
    width: 100%;
    position: relative;
    padding: 0;
}
.blog-img img{
    width: 100%;
    height: 100%;
}
.blog-img::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    opacity: 0;
    visibility: hidden;
    transition: .4s all;
}
.blog-img > a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    background: var(--main-colorFont);
    color: var(--main-white);
    transition: .4s all;
    opacity: 0;
    visibility: hidden;
}
.blog-img:hover::before,.blog-img:hover >a{
    opacity: 1;
    visibility: visible;
}
.blog-img:hover> a:hover{
    background: var(--main-white);
    color: var(--main-colorFont);
}
.blog-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #f5f5f5;
    padding: 0 1rem;
}
.blog-title{
    text-transform: uppercase;
    font-size: 1.3rem;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    padding-bottom: 1.5rem;
    color: var(--main-colorFont);
    text-decoration: none;
}
.blog-title:hover{
    color: var(--second-colorFont)
}
.blog-desc{
    display: flex;
    color: var(--second-colorFont);
    font-size: 1rem;
}
.blog-desc li{
    padding-right:  1rem;
}
.blog-desc  span{
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    color: var(--second-colorFont);
    margin-right: .5rem;
}
/* end Blog section */
/* Contact */
.contact{
    width: 100%;
    overflow: scroll;
    transition: .3s;
}
.info-contact{
    padding: 2rem 0;
}
.box-contact,.get-in-touch{
    background: var(--main-white);
    box-shadow: 0 0 25px #f5f5f5;
    padding: 1rem;
    margin: 1rem 0;
}
.form-group{
    padding: 0.5rem 1.5rem;
}
.form-group input,.form-group textarea{
    width: 100%;
    background: #f5f5f5;
    border: none;
    outline: none;
    padding: .5rem 1rem;
    font-family: 'Dosis', sans-serif;
    color: var(--main-colorFont);
}
input[type=submit] {
    display: inline-block;
    padding: .5rem 1rem;
    background: var(--pink-color);
    margin: 0 0 1rem 1.5rem;
    color: var(--main-white);
    font-family: 'Dosis', sans-serif;
    transition: .4s all;
}
input[type=submit]:hover {
    color: var(--main-colorFont);
    background: var(--main-white);
    border: 1px solid var(--main-colorFont);
}
.get-in-touch .item{
    display: flex;
    padding: 1rem 0;
}
.get-in-touch .item  i{
    color: var(--pink-color);
    font-size: 1.5rem;
    padding-right:2rem;
    margin: auto 0;
}
.get-in-touch .item > h6{
    color: var(--main-colorFont);
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.get-in-touch .item span{
    margin-top: .5rem;
    font-size: .9rem;
    color: var(--second-colorFont);
    text-transform: initial;
    font-family: 'Open Sans', sans-serif;
}
.get-in-touch .social ul{
    display: flex;
    justify-content: center;
}
.get-in-touch .social ul li{
    margin: 0 15px ;
    transition: .4s ;
}
/* end Contact */

/* responsive */
/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px){
    .about-left img {
        width: 230px;
        height: 230px;
    }
}
/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px){
    .title{
        padding: 1rem 0;
        font-size: 1.6rem;
    }
    .small-title{
        font-size: 1rem;
    }
    .service-box h3{
        font-size: 1rem;
    }
    p{
        font-size: .8rem;
        line-height: 1.3rem;
    }
    /* about */
    .intro h2{
        font-size: 2.5rem;
    }
     .intro h4{
        font-size: 1.3rem;
        letter-spacing: .3rem; 
    }
    .qoute img{
        height: 230px;
    }
    .work-flow .work-item {
        padding: 1rem;
    }
    .work-flow .work-item h5::before {
        left: -22px;
    }    
    /* portfolio */
    .modal-work{
        width: 70%;
    }
    .fortfolio .category{
        justify-content: space-around
    }
    .fortfolio .category li{
        margin: 0;
    }
    .fortfolio .category li a{
        font-size: .8rem;
    }
    /* blog */
    .blog-content{
        padding: 1rem;
    }
    .blog-title{
        font-size: 1rem;
    }
    .blog-desc{
        font-size: .8rem;
    }

}
/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px){
    .toggle-ico{
        top: 10%;
        right: 10%;
        display: block;
    }
    .side-bar{
        position: fixed;  
        padding: 1rem .5rem;      
        z-index: 100;
        background: var(--main-white);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .3s all;
    }
    .main-content-page {
        padding: 0;
        margin: 0;
    }
    .container{
        padding: 0 !important;
        margin: 0 !important;
    }
    .side-bar.active{
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }
    .intro h2{
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }
     .intro h4{
        font-size: 1rem;
    }
    .modal-work{
        width: 85%;
    }
    
}
/*Iphone(480 x 640)*/
@media screen and (max-width: 320px){
    .about-left img {
        width: 180px;
        height: 180px;
    }
}

